<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.lexxx.artists">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.InfoActivity"/>
    </application>

</manifest>
